{% extends "layout.html" %}
{% block content %}
    
    <div class="form-group" id="empezarJuego">
        <h1>EMPEZAR JUEGO</h1>
     
        <h3 >Estudiante: </h3>

        <figure>
            <blockquote class="blockquote">
              <p>{{ estudiante.nombre}} {{ estudiante.apellido}}</p>
            </blockquote>
            
          </figure>
          
       
          <h3>Juego: </h3>

          <figure>
              <blockquote class="blockquote">
                <p>
                {% if bandera %}
                    {{juegoNombre.nombre}} - {{juego.nombre}} 
                {% else %}
                    {{juego.nombre}} 
                {% endif %}
            </p>
              </blockquote>
              
            </figure>

            <h3 id"labelCalificacion" class="display-7">Calificación: </h3>

            <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2 " role="group" aria-label="First group">
                  <button id="boton1" type="button" class="btn btn-success btn-lg" onclick="si()">Lo logró</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                  <button id="boton2" type="button" class="btn btn-danger btn-lg" onClick="no()">No lo logró</button>
                </div>
                <div id="a" class="btn-group me-2" role="group" aria-label="Third group">
                  
                </div>
              </div>
        </br>
    
</div>

<script>

  function si() {
    var logro = "SI"
    var newButton = '<a class="btn btn-info" href="{{ url_for("generarReporte") }}" role="button" onclick="fnselect()">Mostrar Reportes</a>'
    document.getElementById("a").innerHTML=newButton;
    document.getElementById("boton1").style.display = "none";
    document.getElementById("boton2").style.display = "none";
    //document.getElementById("labelCalificacion").style.display = "none";


      
      $.ajax({
        type: "POST",
        url: "/procesarReporteJuego",
        data: JSON.stringify(logro),
        contentType: "application/json",
        dataType: 'json',
        /*
        success: function(result) {
        console.log("Result:");
        console.log(result);
        } */
      });
  }

  function no() {
    var logro = "NO"
    var newButton = '<a class="btn btn-info" href="{{ url_for("generarReporte") }}" role="button" onclick="fnselect()">Mostrar Reportes</a>'
    
    document.getElementById("a").innerHTML=newButton;
    document.getElementById("boton1").style.display = "none";
    document.getElementById("boton2").style.display = "none";
    //document.getElementById("labelCalificacion").style.display = "none";

    $.ajax({
      type: "POST",
      url: "/procesarReporteJuego",
      data: JSON.stringify(logro),
      contentType: "application/json",
      dataType: 'json',
      /*
      success: function(result) {
      console.log("Result:");
      console.log(result);
      } */
    });
    

  }


</script>



{% endblock content %}
